@font-face {
  font-family: "RobotoRegular";
  src: url(../font/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "RobotoBlack";
  src: url(../font/Roboto/Roboto-Black.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "RobotoRegular";
  font-size: 18px;
  color: #454545;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}

:root {
  --firstPink: #B7094C;
  --secondPink: #A01A58;
  --thirdPink: #841046;
  --fourthPink: #670128;
  --firstBlue: #0091AD;
  --secondBlue: #1780a1;
  --thirdBlue: #005c6e;
  --fontColor: #ffffff;
  --transition: 300ms;
  --columnsHeight: 60px;
}

h1 {
  font-size: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: normal;
}

/***************************************
 To do Main 
 ****************************************/

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todoBackground {
  background-color: #f0f0f0;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.todoHeadline {
  background-color: var(--thirdPink);
  padding: 20px;
  color: var(--fontColor);
  text-align: center;
}

.todoHeadline p {
  font-style: italic;
  font-size: 15px;
}

.todo {
  color: #fff;
  display: flex;
  justify-content: space-between;
  border: 2px solid #fff;
  align-items: center;
  height: var(--columnsHeight);
}

.todoText {
  flex-grow: 1;
  padding: 20px;
}

.todoDone {
  background: rgb(0, 145, 173);
  background: linear-gradient(90deg, rgba(0, 145, 173, 1) 0%, rgba(20, 109, 136, 1) 100%);
}

.todoOpen {
  background: rgb(183, 9, 76);
  background: linear-gradient(90deg, rgba(183, 9, 76, 1) 0%, rgba(147, 24, 81, 1) 100%);
}

.addTodo {
  height: var(--columnsHeight);
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.addTodo .inputTodo {
  flex-grow: 1;
}

.addTodo .addButton {
  flex-grow: 1;
  margin-left: 10px;
}

.state {
  cursor: pointer;
  padding: 10px;
  font-size: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoDone .state {
  background-color: var(--thirdBlue);
}

.todoOpen .state {
  background-color: var(--fourthPink);
}

/***************************************
 Button
 ****************************************/

button {
  color: var(--fontColor);
  border: 0px;
  cursor: pointer;
  font-size: 15px;
  height: 100%;
}

.addButton {
  background-color: var(--thirdPink);
}

.addButton:hover {
  background-color: var(--firstPink);
  transition: var(--transition);
}

.todoDone button {
  background-color: var(--firstBlue);
}

.todoOpen button {
  background-color: var(--firstPink);
}

.svg-inline--fa {
  margin: 0px 5px 0px 5px;
}